name: mosaic_editor
description: "The Mosaic game engine editor application."
publish_to: "none"
version: 0.0.1
maintainer: William Karol Di Cioccio
license: MIT

resolution: workspace

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
