@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Your preferred text font. Starlight uses a system font stack by default. */
  --font-sans: "Atkinson Hyperlegible";
  /* Your preferred code font. Starlight uses system monospace fonts by default. */
  --font-mono: "IBM Plex Mono";
  /* Generated accent color palettes. */
  --color-accent-200: #d5c6b5;
  --color-accent-600: #6d460e;
  --color-accent-900: #402e19;
  --color-accent-950: #2d2214;
  /* Generated gray color palettes. */
  --color-gray-100: #f5f6f8;
  --color-gray-200: #eceef2;
  --color-gray-300: #c0c2c7;
  --color-gray-400: #888b96;
  --color-gray-500: #545861;
  --color-gray-700: #353841;
  --color-gray-800: #24272f;
  --color-gray-900: #17181c;
}
