name: Deploy Docs to GitHub Pages

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4

      - name: Install Puppeteer browser
        run: npx puppeteer browsers install chrome-headless-shell

      - name: Install, build, and upload your site
        uses: withastro/action@v3
        with:
          path: ./docs
          package-manager: pnpm@latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: https://williamkaroldicioccio.github.io/saturn/
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
